# Домен клиентского приложения (через nginx edge)
APP_DOMAIN=new.antrasha.ru

# Домен админки (через nginx edge)
ADMIN_DOMAIN=admin.antrasha.ru

# Почта для Let's Encrypt уведомлений
LETSENCRYPT_EMAIL=ops@antrasha.ru
