# Домен клиентского приложения (через nginx edge)
APP_DOMAIN=app.example.ru

# Домен админки (через nginx edge)
ADMIN_DOMAIN=admin.example.ru

# Почта для Let's Encrypt уведомлений
LETSENCRYPT_EMAIL=ops@example.ru
